.div-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.div-dailywritinggoal {
  margin: auto;
  padding: auto;
}

.div-goals {
  margin: auto;
}

.day-btn {
  display: none;
}

.edit-btn:hover {
  opacity: 1;
  background-color: rgb(88, 103, 171);
  cursor: pointer;
}

.edit-btn {
  padding: 1em;
  margin: 0.2em;
  border: 1px solid white;
  border-radius: 50pt;
  opacity: 0.8;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.true {
  background-color: rgb(88, 103, 171);
  opacity: 1;
}

.div-myworks {
  width: 100%;
}
.select-goal {
  font-size: 14pt;
  margin: 1em auto;
  padding: 1em;
  opacity: 1;
  background-color: rgb(70, 83, 140);
  color: white;
}

table {
  width: 100%;
  table-layout: fixed;
  border: 1px solid white;
}

td {
  border-bottom: 1px solid white;
  margin: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40px;
  white-space: nowrap;
}

table th {
  margin-bottom: 1em;
}
