body {
  text-align: center;
  background-color: rgb(70, 83, 140);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 1em;
  background: rgb(49, 58, 97);
  width: 100%;
}

.navh3 {
  margin-right: 15em;
  font-style: italic;
  font-size: 24pt;
  margin-left: em;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navlinks {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  margin-left: 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1,
h2,
h3 {
  text-align: center;
}
